.header {
  margin-bottom: var(--mantine-spacing-xl);
}

.title {
  color: var(--color-text);
  font-family: var(--font-poppins);
}

/* Responsive alignment for action buttons */
.actions {
  margin-left: auto;

  @media (max-width: theme.breakpoints.sm) {
    margin-left: 0;
    margin-top: var(--mantine-spacing-md);
  }
}

.addButton {
  background-color: var(--mantine-color-primary-light);
}

.addButton:hover {
  background-color: var(--mantine-color-blue-7);
}