/* src/components/Accounts/AccountHeader.module.css */

.header {
  margin-bottom: var(--mantine-spacing-xl);
}

.title {
  color: var(--color-text);
  font-family: var(--font-poppins);
}

.activeFilter {
  /* Style for the currently selected filter in the dropdown */
  background-color: var(--mantine-color-primary-light);
  font-weight: 500;
}

/* Dark Mode styles */
[data-mantine-color-scheme='dark'] .title {
  color: var(--color-text-dark);
}

[data-mantine-color-scheme='dark'] .activeFilter {
   background-color: var(--mantine-color-dark-5);
}