.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* max-width: 300px; */
  /* Set the max-width for the whole dashboard not just this */
}

.carouselContainer {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
}

.carouselRoot {
  flex-grow: 1;
}

.carouselSlideContainer {
  padding-bottom: 2rem; /* Space for indicators */
}

/* The main credit card style with the gradient */
.creditCard {
  background: linear-gradient(135deg, #0b8793, #36b1bf);
  color: white;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
}

/* The overlapping circles chip design */
.cardChip {
  position: relative;
  width: 30px;
  height: 30px;
}

.cardChip::before,
.cardChip::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.cardChip::before {
  left: 0;
}

.cardChip::after {
  left: 10px; /* Overlap effect */
  background-color: rgba(255, 255, 255, 0.3);
}

/* Add New Card Button */
.addCardContainer {
  height: 100%;
}

.addCard {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e7f5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.addCard:hover {
  background-color: #d0ebff;
}

/* Carousel Indicator Styles */
.indicators {
  bottom: 0;
  gap: 8px;
}

.indicator {
  width: 8px;
  height: 8px;
  background-color: #e0e0e0;
  transition: width 0.3s, background-color 0.3s;
}

.indicator[data-active] {
  background-color: #0b8793;
}

/* .control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
} */

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}